PuzzleX/[Ll]ibrary/
PuzzleX/[Tt]emp/
PuzzleX/[Oo]bj/
PuzzleX/[Bb]uilds/
PuzzleX/[Ll]ogs/
PuzzleX/[Aa]rtSources/
PuzzleX/*.csproj
PuzzleX/*.booproj
PuzzleX/*.unityproj
PuzzleX/*.suo
PuzzleX/*.sln
PuzzleX/test-results
PuzzleX/.DS_Store
PuzzleX/*.bak
PuzzleX/*.userprefs*
PuzzleX/*.pidb
NewHope/[Tt]emp/
NewHope/[Oo]bj/
NewHope/[Bb]uilds/
NewHope/[Ll]ogs/
NewHope/[Aa]rtSources/
NewHope/*.csproj
NewHope/*.booproj
NewHope/*.unityproj
NewHope/*.suo
NewHope/*.sln
NewHope/test-results
NewHope/.DS_Store
NewHope/*.bak
NewHope/*.userprefs*
NewHope/*.pidb
